name: Build

# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
concurrency: 
  group: "build"
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      # choose your default branch
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          path: "src"

      - name: Setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build Plugins
        run: |
          cd src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          mkdir -p ../builds
          cp **/build/*.cs3 ../builds
          cp build/plugins.json ../builds

      - name: Push builds
        run: |
          cd builds
          git init
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git checkout -b builds
          git add .
          git commit -m "Build $GITHUB_SHA"
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push --force origin builds
